table {
  width: 100%;
}

.mat-elevation-z8 {
  width: 60%;
  height: auto;
  margin: auto;
}
.circleImage {
  border-radius: 50px;
  width: 55px;
  padding-top: 2px;
}

.pagination {
  width: 100%;
  padding-left: 5px;
  justify-content: space-between;
  display: flex;
}
.pagination h1 {
  margin: auto;
}
.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 20px;
}

.pagination button.active {
  background-color: #4caf50;
  color: white;
  border-radius: 5px solid black;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.fullName:hover {
  cursor: pointer;
  background-color: rgb(167, 167, 167);
}
@media screen and (max-width: 600px) {
  .fullName:hover {
    cursor: pointer;
    background-color: white;
  }
  .mat-cell,
  .mat-header-cell {
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    font-family: Verdana, Sans-Serif;
    display: table-cell;
    height: 48px;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
  .pagination h1 {
    font-size: 18px;
  }
  td {
    font-size: 8px;
    font-weight: 500;
  }
  .mat-elevation-z8 {
    margin: 0;
    width: 100%;
    box-shadow: none;
  }
  .mat-raised-button {
    min-width: 16px;
    line-height: 20px;
  }
  .circleImage {
    border-radius: 50px;
    width: 25px;
    padding-top: 2px;
  }
}
