:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
}
@media screen and (max-width: 600px) {
  mat-nav-list a {
    font-size: 12px;
    font-weight: 500;
  }
  mat-icon {
    font-size: 22px;
  }
  mat-nav-list h2 {
    font-size: 12px;
  }
}
