agm-map {
  width: 400px;
  height: 200px;
}
mat-card-header {
  padding-bottom: 10px;
}
.example-card {
  max-width: 400px;
  margin: auto;
  border: 2px solid #673ab7;
  box-shadow: 6px 6px 6px #673ab7;
}

.pageTitle {
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-bottom: 10px;
}

.example-header-image {
  width: 50px;
  height: 50px;
}

.prop-title {
  font-size: large;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  agm-map {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-height: 710px) {
  .example-card {
    max-height: 350px;
    overflow-y: auto;
  }
}
