agm-map {
  width: 400px;
  height: 200px;
}
mat-card-header {
  padding-bottom: 10px;
}
.example-card {
  max-width: 400px;
  margin: auto;
  border: 2px solid #673ab7;
  box-shadow: 6px 6px 6px #673ab7;
}

.example-header-image {
  width: 50px;
  height: 50px;
}

.prop-title {
  font-size: large;
  font-weight: 600;
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  agm-map {
    width: 250px;
    height: 120px;
  }
}
